    :root {
        --primary-title-color: #212121;
        --secondary-title-color: #FFFFFF;
        --primary-text-color: #757575;
        --secondary-text-color: #212121;
        --white-text-color: #FFFFFF;
        --footer-contacts-color: rgba(255, 255, 255, 0.6);
        --accent-color: #2196F3;
        --primary-background-color: #FFFFFF;
        --secondary-background-color: #2F303A;
        --third-background-color:#F5F4FA;
    }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
        background-color: var(--primary-background-color);
        color: var(--primary-text-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding-left: 0;
    }

    img {
        display: block;
        /*max-width: 100%;*/
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }

    .container {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .btn {
        font-family: inherit;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }

    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }




    /*--------------------------!* Header *!----------------------------*/

   .header {
       border-bottom: 1px solid #ECECEC;
   }

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
    }

    .header-item:not(:last-child) {
        margin-right: 50px;
    }

    .header-logo {
        font-family:'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
        margin-right: 95px;
    }

    .header-logo-black {
        color: #000000;
    }

    .header-link {
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--accent-color);
    }

    .header-list .link.current {
        color: var(--accent-color);
    }


    .header-contacts-list {
        display: flex;
        margin-left: auto;
    }

    .header-contacts-item:not(:last-child) {
        margin-right: 50px;
    }

    .header-icon-envelope {
        margin-right: 10px;
        fill: currentColor;
    }

    .header-icon-smartphone {
        margin-right: 10px;
        fill: currentColor;
    }

    .header-contacts-link {
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: var(--accent-color);
    }


    /*-------------------------!* Hero *!--------------------------*/

    .hero {
        padding: 200px 0;

        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        background-color: var(--secondary-background-color);
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--secondary-title-color);
        margin-bottom: 30px;
        max-width: 700px;
    }

    .hero-primary-btn {
        padding: 10px 32px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background-color: var(--accent-color);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--white-text-color);

    }


    /*-------------------------!* Preference *!--------------------------*/



    .preference-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }


    .preference-item {
        flex-basis: calc(100% / 4 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }


    .preference-title {
        font-weight: 700;
        line-height: 1.14;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: var(--primary-title-color);
    }

    .preference-text {
        line-height: 1.71;
    }



    /*-------------------------!* About *!--------------------------*/


    .about {
        padding-top: 0;
    }

    .about-title {
        color: var(--primary-title-color);
        margin-bottom: 50px;
    }

    .about-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .about-item {
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }



    /*-------------------------!* Team *!--------------------------*/


    .team {
        background-color: var(--third-background-color);
    }

    .team-title {
        margin-bottom: 50px;
        color: var(--primary-title-color);
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .team-item {
        flex-basis: calc(100% / 4 - 30px);
        background-color: var(--primary-background-color);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 4px 4px;

        margin-left: 30px;
        margin-top: 30px;
    }

    .team-item-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .team-item-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--primary-title-color);
        margin-bottom: 10px;
    }

    .team-text-profession {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-bottom: 16px;
    }

    .social-list {
        display: flex;
        justify-content: center;
    }

    .social-item + .social-item {
        margin-left: 10px;
    }

    .social-item {
        width: 44px;
        height: 44px;
    }

    .social-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--primary-background-color);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-link:hover,
    .social-link:focus {
        background-color: var(--accent-color);
        }

    .social-link:hover .social-icon,
    .social-link:focus .social-icon {
        fill: #ffffff;
    }

        .social-icon {
            fill: #AFB1B8;
        }

    /*-------------------------!* Footer *!--------------------------*/


        .footer {
           background-color: var(--secondary-background-color);
            padding-top: 60px;
            padding-bottom: 60px;
        }


        .footer-logo {
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            color: var(--accent-color);
            display: block;
            margin-bottom: 20px;
        }


        .footer-logo-white {
            color: var(--white-text-color);
        }

        .footer-address {
            font-style: normal;
        }


        .footer .footer-address-link {
            line-height: 1.71;
            color: var(--white-text-color)
        }

        .footer-address-link:hover, .footer-contacts-link:hover,
        .footer-address-link:focus, .footer-contacts-link:focus {
            color: var(--accent-color);
        }

        .footer-contacts-link {
            line-height: 1.71;
            color: var(--footer-contacts-color)
        }

    .footer-item:not(:last-child) {
        margin-bottom: 9px;
    }




    /*-------------------------!* Projects *!--------------------------*/

    /*------------!* Projects btn *!------------*/

        .projects-navigation{
            display: flex;
            justify-content: center;
        }

        .projects-btn-list {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        .projects-btn-item:not(:last-child) {
            margin-right: 8px;
        }


        .projects-btn {
            padding: 10px 22px;
            font-style: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            color: var(--secondary-text-color);
            background-color: #F5F4FA;
        }

        .projects-btn:hover,
        .projects-btn:focus {
            color: var(--white-text-color);
            background-color: var(--accent-color);
            box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
        }

         .projects-btn-list .btn.current {
             color: var(--white-text-color);
             background-color: var(--accent-color);
    }




    /*------------!* Projects page *!------------*/


    .projects-page-list {
        display: flex;
        flex-wrap: wrap;

        margin-left: -30px;
        margin-top: -30px;
    }

    /*border: 1px solid #EEEEEE;*/




    .projects-page-item {
        flex-basis: calc(100% / 3 - 30px);

        margin-left: 30px;
        margin-top: 30px;
    }

    .projects-page-item:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }


    .projects-item-bottom {
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        border-top: none;
    }

    .projects-page-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-title-color);
        margin-bottom: 4px;
    }

    .projects-page-text {
        font-size: 16px;
        line-height: 1.87;
        color: var(--primary-text-color);
    }
